.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 60px;

  background: #0f0f0f;
  color: white;

  border-bottom: 1px solid #222;
}

.logo {
  font-size: 30px;
  letter-spacing: 3px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 38px;

  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-links li {
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons span {
  font-size: 24px;
  cursor: pointer;
}